<!doctype html>
{% extends "perevozka/layout.html" %}
{% load static %}

{% block content %}

<div class="settings-text text-justify">
  <h1 class="text-danger text-center">ОПЛАТА ТРАНСПОРТНЫХ УСЛУГ</h1>  

 <p><h2 class="text-danger text-center">Как максимально удобно оплатить транспортные услуги</h2></p>


 <p>Спасибо, что решили воспользоваться удобным сервисом оплаты доставки груза транспортной компанией».</p>
 <p>Мы стараемся, чтобы все формы нашего сотрудничества были приятны и удобны для наших заказчиков, в том числе и внесение платы.</p>
 <p >На этой странице вы узнаете, в какой момент и каким образом оплачивается перевозка грузов нашей транспортной компанией.
 Также вы можете обратиться с любыми вопросами к личному менеджеру или задать их по телефону <b>8 800 505-25-85</b>.</p>


 <p><h2 class="text-danger text-center">Вы оформили заявку на перевозку груза, когда нужно оплачивать?</h2></p>

 <p >Чтобы автомобиль был подан под загрузку, от вас потребуется предоплата. Как только она поступает на счет
 компании, автомобиль будет зарезервирован под вашу перевозку. Все условия и сумма к оплате указаны в заявке
 к договору.</p>

 <p ><b>ОБРАТИТЕ ВНИМАНИЕ!</b> При безналичном расчете зачисление средств может занять до 3 рабочих дней,
 учитывайте это время при внесении платы, особенно перед выходными, ведь они не идут в общий
 счет времени. Транзакциями занимается банк, к сожалению, мы не можем ускорить время ее обработки.</p>

 <p><h2 class="text-danger text-center">Переведите деньги на наш лицевой счет в Сбербанке</h2></p>

 <p><h4>Что нужно для оплаты услуг</h4> </p>

<p>
 <ol>
    <li>После оформления заказа личный менеджер предоставит вам реквизиты нашего счета в банке "Сбербанк".</li>
    <li>Следуйте инструкциям по оплате, которые изложит банк.</li>
    <li>Оплатите грузоперевозку и мы начнем работу над Вашим заказом!</li>
  </ol>
</p>

 <p>Оплатить Ваш заказ желательно в течение суток с момента заключения договора на доставку! <br />
 Для юридических лиц порядок оформления заказа идентичен.</p>


  <img src= "{% static "perevozka/images/Sberbank.png"%}" class="img-fluid" id="pay-image">
 </div>



{% endblock %}
